.page-header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;

  @media(min-width: 1440px) {
    width: 1170px;
    margin: 0 auto;
    min-height: 100px;
    align-items: center;
  }
}
