.popup {
  display: none;
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #ffffff;

  &--active {
    position: fixed;
    top: 0;
    right: 0;
    display: block;
  }

  @media(min-width: 768px) {
    background-color: #FBF8F8;
    width: 720px;
    min-height: 444px;
    height: auto;
    top: calc(50% - 222px);
    right: calc(50% - 360px);
    display: none;
    justify-content: flex-end;
    background-image: url('../img/popup-tablet-bgi.png');
    background-position: left;
    background-size: 334px 444px;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url('../img/popup-tablet-bgi@2x.png');
    }

    &--active {
      display: flex;
    }
  }
}

.popup__button-close {
  position: absolute;
  right: 0;
  top: 0;
  width: 22px;
  height: 22px;
  margin-top: 20px;
  margin-right: 20px;
  border: none;
  background-color: transparent;
  background-image: url('../img/icons/cross-close.svg');
  background-size: 22px 22px;
  background-position: center;
  background-repeat: no-repeat;
}

.popup__form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
  padding: 16px;

  @media(min-width: 768px) {
    width: 386px;
    justify-content: flex-start;
    box-sizing: border-box;
    gap: 20px;
  }
}

.popup__title {
  font-size: 25px;
  font-weight: 600;
  line-height: 43px;
  letter-spacing: 0px;
  text-align: center;
  color: #141517;

  @media(min-width: 768px) {
    margin-top: 54px;
    margin-bottom: 30px;
  }
}

.popup__form label {
  width: 100%;

  @media(min-width: 768px) {
    max-width: 267px;
  }
}

.popup__form input {
  padding: 16px 16px;
  box-sizing: border-box;
  border: 1px solid rgba(44, 46, 63, 0.3);
  width: 100%;;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
}

.popup__tel {
  position: relative;
}

.popup__tel::before {
  content: "";
  width: 6px;
  height: 27px;
  background-image: url("../img/icons/star.svg");
  background-size: 6px 27px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 12px;
  top: 0;
  z-index: 5;
}

.popup__button {
  width: 288px;
  padding: 16px;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  align-self: center;

  @media(min-width: 768px) {
    width: 174px;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 2px;
    text-align: center;
  }
}
